In [162]:
import numpy as np
import pandas as pd

In [163]:
df = pd.read_csv("symptom.csv")

In [164]:
df.tail()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Symptom_6,Symptom_7,Symptom_8,Symptom_9,Symptom_10,Symptom_11,Symptom_12,Symptom_13,Symptom_14,Symptom_15,Symptom_16,Symptom_17
4915,(vertigo) Paroymsal Positional Vertigo,vomiting,headache,nausea,spinning_movements,loss_of_balance,unsteadiness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4916,Acne,skin_rash,pus_filled_pimples,blackheads,scurring,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4917,Urinary tract infection,burning_micturition,bladder_discomfort,foul_smell_of urine,continuous_feel_of_urine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4918,Psoriasis,skin_rash,joint_pain,skin_peeling,silver_like_dusting,small_dents_in_nails,inflammatory_nails,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4919,Impetigo,skin_rash,high_fever,blister,red_sore_around_nose,yellow_crust_ooze,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [165]:
df1 = pd.read_csv('Symptom-severity.csv')
df1.head()

                Symptom  weight
0               itching       1
1             skin_rash       3
2  nodal_skin_eruptions       4
3   continuous_sneezing       4
4             shivering       5

In [166]:
cols = df.columns
data = df[cols].values.flatten()

s = pd.Series(data)
s = s.str.strip()
s = s.values.reshape(df.shape)

df = pd.DataFrame(s, columns=df.columns)
vals = df.values
symptoms = df1['Symptom'].unique()

for i in range(len(symptoms)):
    vals[vals == symptoms[i]] = df1[df1['Symptom'] == symptoms[i]]['weight'].values[0]
    
d = pd.DataFrame(vals, columns=cols)
d.head()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Symptom_6,Symptom_7,Symptom_8,Symptom_9,Symptom_10,Symptom_11,Symptom_12,Symptom_13,Symptom_14,Symptom_15,Symptom_16,Symptom_17
0,Fungal infection,1,3,4,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fungal infection,3,4,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Fungal infection,1,4,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fungal infection,1,3,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Fungal infection,1,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [167]:
d = d.replace('dischromic _patches', 0)
d = d.replace('spotting_ urination',0)
df = d.replace('foul_smell_of urine',0)
df.head()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Symptom_6,Symptom_7,Symptom_8,Symptom_9,Symptom_10,Symptom_11,Symptom_12,Symptom_13,Symptom_14,Symptom_15,Symptom_16,Symptom_17
0,Fungal infection,1,3,4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fungal infection,3,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Fungal infection,1,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fungal infection,1,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Fungal infection,1,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [168]:
df = df.fillna(0)
df.head()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Symptom_6,Symptom_7,Symptom_8,Symptom_9,Symptom_10,Symptom_11,Symptom_12,Symptom_13,Symptom_14,Symptom_15,Symptom_16,Symptom_17
0,Fungal infection,1,3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Fungal infection,3,4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Fungal infection,1,4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Fungal infection,1,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Fungal infection,1,3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [169]:
x = df.drop('Disease', axis=1)
y = df['Disease']
print(x.shape)
print(y.shape)

(4920, 17)
(4920,)

In [170]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [171]:
from sklearn import svm
from sklearn.metrics import accuracy_score
model = svm.SVC(kernel='rbf', C=30, gamma='auto')
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
print(accuracy_score(y_pred, y_test))

0.9939024390243902

In [172]:
from sklearn.model_selection import GridSearchCV
param_grid = {'C':[1, 10, 20], 'kernel':['rbf', 'linear']}
mod = GridSearchCV(svm.SVC(gamma='auto'), param_grid, cv = 5)
mod.fit(x, y)

GridSearchCV(cv=5, estimator=SVC(gamma='auto'),
             param_grid={'C': [1, 10, 20], 'kernel': ['rbf', 'linear']})

In [173]:
mod.best_score_

0.9951219512195122

In [174]:
mod.best_params_

{'C': 20, 'kernel': 'rbf'}

In [175]:
fr = pd.DataFrame(mod.cv_results_)
fr[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf         0.988618
1       1       linear         0.984146
2      10          rbf         0.994512
3      10       linear         0.984959
4      20          rbf         0.995122
5      20       linear         0.984959

In [176]:
res = mod.predict([[3,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0]])
print(res)

['Paralysis (brain hemorrhage)']

In [177]:
prep = pd.read_csv('symptom_Description.csv')
cau = pd.read_csv('symptom_precaution.csv')

In [178]:
print(prep.head())

          Disease                                        Description
0   Drug Reaction  An adverse drug reaction (ADR) is an injury ca...
1         Malaria  An infectious disease caused by protozoan para...
2         Allergy  An allergy is an immune system response to a f...
3  Hypothyroidism  Hypothyroidism, also called underactive thyroi...
4       Psoriasis  Psoriasis is a common skin disorder that forms...

In [179]:
print(cau.head())

          Disease                      Precaution_1  \
0   Drug Reaction                   stop irritation
1         Malaria          Consult nearest hospital
2         Allergy                    apply calamine
3  Hypothyroidism                     reduce stress
4       Psoriasis  wash hands with warm soapy water

                   Precaution_2        Precaution_3  \
0      consult nearest hospital    stop taking drug
1               avoid oily food  avoid non veg food
2       cover area with bandage                 NaN
3                      exercise         eat healthy
4  stop bleeding using pressure      consult doctor

                  Precaution_4
0                    follow up
1           keep mosquitos out
2  use ice to compress itching
3             get proper sleep
4                   salt baths

In [180]:
tot = len(prep.index)
for i in range(tot):
    if(prep.loc[i]['Disease']==res):
        print(prep.loc[i]['Description'])

Intracerebral hemorrhage (ICH) is when blood suddenly bursts into brain tissue, causing damage to your brain. Symptoms usually appear suddenly during ICH. They include headache, weakness, confusion, and paralysis, particularly on one side of your body.

In [181]:
tot = len(cau.index)
for i in range(tot):
    if(cau.loc[i]['Disease']==res):
        print(cau.loc[i]['Precaution_1'])
        print(cau.loc[i]['Precaution_2'])
        print(cau.loc[i]['Precaution_3'])
        print(cau.loc[i]['Precaution_4'])

massage
eat healthy
exercise
consult doctor

In [182]:
df1

                  Symptom  weight
0                 itching       1
1               skin_rash       3
2    nodal_skin_eruptions       4
3     continuous_sneezing       4
4               shivering       5
..                    ...     ...
128    inflammatory_nails       2
129               blister       4
130  red_sore_around_nose       2
131     yellow_crust_ooze       3
132             prognosis       5

[133 rows x 2 columns]

In [189]:
slist = df1['Symptom']
print(type(slist))

<class 'pandas.core.series.Series'>

In [192]:
slist = slist.sort_values(ascending=True)
for i in slist:
    print(i)

abdominal_pain
abnormal_menstruation
acidity
acute_liver_failure
altered_sensorium
anxiety
back_pain
belly_pain
blackheads
bladder_discomfort
blister
blood_in_sputum
bloody_stool
blurred_and_distorted_vision
breathlessness
brittle_nails
bruising
burning_micturition
chest_pain
chills
cold_hands_and_feets
coma
congestion
constipation
continuous_feel_of_urine
continuous_sneezing
cough
cramps
dark_urine
dehydration
depression
diarrhoea
dischromic_patches
distention_of_abdomen
dizziness
drying_and_tingling_lips
enlarged_thyroid
excessive_hunger
extra_marital_contacts
family_history
fast_heart_rate
fatigue
fluid_overload
fluid_overload
foul_smell_ofurine
headache
high_fever
hip_joint_pain
history_of_alcohol_consumption
increased_appetite
indigestion
inflammatory_nails
internal_itching
irregular_sugar_level
irritability
irritation_in_anus
itching
joint_pain
knee_pain
lack_of_concentration
lethargy
loss_of_appetite
loss_of_balance
loss_of_smell
malaise
mild_fever
mood_swings
movement_stiffness
mucoid_sputum
muscle_pain
muscle_wasting
muscle_weakness
nausea
neck_pain
nodal_skin_eruptions
obesity
pain_behind_the_eyes
pain_during_bowel_movements
pain_in_anal_region
painful_walking
palpitations
passage_of_gases
patches_in_throat
phlegm
polyuria
prognosis
prominent_veins_on_calf
puffy_face_and_eyes
pus_filled_pimples
receiving_blood_transfusion
receiving_unsterile_injections
red_sore_around_nose
red_spots_over_body
redness_of_eyes
restlessness
runny_nose
rusty_sputum
scurring
shivering
silver_like_dusting
sinus_pressure
skin_peeling
skin_rash
slurred_speech
small_dents_in_nails
spinning_movements
spotting_urination
stiff_neck
stomach_bleeding
stomach_pain
sunken_eyes
sweating
swelled_lymph_nodes
swelling_joints
swelling_of_stomach
swollen_blood_vessels
swollen_extremeties
swollen_legs
throat_irritation
toxic_look_(typhos)
ulcers_on_tongue
unsteadiness
visual_disturbances
vomiting
watering_from_eyes
weakness_in_limbs
weakness_of_one_body_side
weight_gain
weight_loss
yellow_crust_ooze
yellow_urine
yellowing_of_eyes
yellowish_skin